<h1 style="padding-top:40px; padding-left:40px;">L'Auteur de Malheur : </h1><br>

<p style="padding-left:40px;"><strong>Prénom : </strong>  <%= @user.first_name%></p>
<p style="padding-left:40px;"><strong>Nom :</strong> <%= @user.last_name(params[:id]).content%></p>
